      {
        "title": "",
        "height": "20px",
        "editable": true,
        "collapse": false,
        "panels": [
          {
            "title": "",
            "error": false,
            "span": 12,
            "editable": true,
            "type": "text",
            "isNew": true,
            "id": 88,
            "mode": "html",
            "content": "<br>\n<h3><center>Current <strong>available</strong> Licenses for selected services</center></h3>",
            "transparent": true
          }
        ]
      },
      {
        "collapse": false,
        "editable": true,
        "height": "20px",
        "panels": [
          {
            "content": "",
            "editable": true,
            "error": false,
            "id": 14,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>concurrent</center></h3>",
            "editable": true,
            "error": false,
            "id": 12,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>named</center></h3>",
            "editable": true,
            "error": false,
            "id": 13,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "",
            "editable": true,
            "error": false,
            "id": 14,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>concurrent</center></h3>",
            "editable": true,
            "error": false,
            "id": 15,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>named</center></h3>",
            "editable": true,
            "error": false,
            "id": 16,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "",
            "editable": true,
            "error": false,
            "id": 17,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>concurrent</center></h3>",
            "editable": true,
            "error": false,
            "id": 18,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>named</center></h3>",
            "editable": true,
            "error": false,
            "id": 19,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "",
            "editable": true,
            "error": false,
            "id": 20,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>concurrent</center></h3>",
            "editable": true,
            "error": false,
            "id": 21,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          },
          {
            "content": "<h3><center>named</center></h3>",
            "editable": true,
            "error": false,
            "id": 22,
            "isNew": true,
            "links": [],
            "mode": "html",
            "span": 1,
            "title": "",
            "transparent": true,
            "type": "text"
          }
        ],
        "title": "types"
      }
